adapter_khz 950
bindto 0.0.0.0

source [find interface/stlink.cfg]
# https://armprojects.wordpress.com/2016/08/21/debugging-multiple-stm32-in-eclipse-with-st-link-v2-and-openocd/
hla_serial "\x7F\x75\x06\x01\x32\x12\x46\x47\x52\x4B\x4E\x00"
source [find vs11k09a-1.cfg]
# source [find target/stm32f0x.cfg]


# halt
# gdb_m
# noinit
# init
# dap info
# targets
gdb_memory_map disable